@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px #181E29 inset !important;
    -webkit-text-fill-color: #C9CED6 !important;
}